@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{   
    min-height: 100vh;
    background-image: url(/images/jonas-weckschmied--N_UwPdUs7E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #304e20;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px #2b1055;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding: 6px 15px;
    color: #c1d180;
    text-shadow: 0.5px 0.5px #2b1055;
}
header ul li a:hover,
header ul li a.active
{
    
    color: #8bcec6;
}
section::before
{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1000;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

/* #main
{
    max-width: 100%;
    max-height: 100%;
} */
p {
    
}
#protect
{
    position: inherit;
    font-family: 'Catamaran',sans-serif;
    color: #ffffff;
    white-space: nowrap;
    font-size: 5vw;
    padding-top: 20%;
    padding-left: 30%;
    z-index: 10000;
}
#victoria
{
    position: inherit;
    font-family: 'Catamaran',sans-serif;
    padding-left: 1000px;
    /* padding-top: 50%; */
    color: #ffffff;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 10000;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
}
.tableauPlaceholder
{
    padding-left: 20px;
}