@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');
* {

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-image: url(images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tableauPlaceholder{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #304e20;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px #2b1055;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding: 6px 15px;
    color: #c1d180;
    text-shadow: 0.5px 0.5px #000000;
}
header ul li a:hover,
header ul li a.active
{
    
    color: #8bcec6;
}